{% extends "base.html" %}
{% include 'navbar.html' %}

{% block meta %}
    <title>Book a Restaurant</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock meta %}

{% block content %}
<div class="flex container items-center align-center mx-auto flex-col bg-brown-900 text-white py-8"> 
    <h1 class="text-4xl font-bold mb-6">Edit Your Booking</h1>
    
    <div class="booking-box bg-brown-800 p-6 rounded-lg mb-6 w-full max-w-lg">
        <form id="bookingForm" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="booking_date" class="block text-lg font-semibold">Tanggal Booking:</label>
                <input id="booking_date" name="booking_date" type="date" class="form-input mt-1 block w-full" required>
            </div>
            <div class="mb-4">
                <label for="number_of_people" class="block text-lg font-semibold">Jumlah orang:</label>
                <input id="number_of_people" name="number_of_people" type="number" min="1" class="form-input mt-1 block w-full" required>
            </div>
            <button type="submit" class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600">Edit Booking</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="/static/js/ajax_booking.js"></script>
{% endblock script %}
