{% extends "base.html" %}
{% include 'navbar.html' %}

{% block meta %}
    <title>Daftar Booking</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock meta %}

{% block content %}
<div class="flex container items-center align-center mx-auto flex-col bg-brown-900 text-white py-8">
    <h1 class="text-4xl font-bold mb-6">Daftar Booking Anda</h1>

    {% if bookings %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for booking in bookings %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-black booking-card">
                    <img class="w-full h-48 object-cover" src="{{ booking.menu_items.image }}" alt="{{ booking.menu_items.menu }}">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ booking.menu.restaurant_name }}</div>
                        <p class="text-gray-700 text-base">
                            Booking di tanggal: {{ booking.booking_date | date:"F d, Y"}} <br>
                            Jumlah orang: {{ booking.number_of_people }} <br>
                            Menu: {{ booking.menu_items.menu }} <br>
                            Lokasi: {{ booking.menu_items.city }} <br>
                            Rating: {{ booking.menu_items.rating }}<br>
                            Status: {{ booking.get_status_display }}
                        </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <a href="{% url 'booking:edit_booking' booking.id %}" class="bg-blue-500 text-white px-3 py-1 rounded">Edit</a>
                        <button class="bg-red-500 text-white px-3 py-1 rounded delete-booking" data-id="{{ booking.id }}">Delete</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-white">Anda belum memiliki booking.</p>
    {% endif %}

    <a href="{% url 'booking:create_booking' %}" class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600">Kembali ke halaman booking</a>
</div>

<script>
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('delete-booking')) {
            const bookingId = event.target.getAttribute('data-id');

            fetch(`/booking/delete/${bookingId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => {
                if (response.ok) {
                    event.target.closest('.booking-card').remove();  // Hapus card booking tanpa refresh
                } else {
                    console.error('Failed to delete booking');
                }
            });
        }
    });
</script>
{% endblock content %}
