{% extends "base.html" %}
{% include 'navbar.html' %}

{% block meta %}
    <title>Booking Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock meta %}

{% block content %}
<div class="container mx-auto text-center">
    <h1 class="text-4xl font-bold mb-8 text-yellow-200">Booking Menu</h1>
    <div class="text-center space-x-4 mb-12">
        <a href="{% url 'booking:create_booking' %}" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded">Buat Booking</a>
        <a href="{% url 'booking:lihat_booking' %}" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded">Lihat Booking</a>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="/static/js/ajax_menu.js"></script>
{% endblock script %}
