{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SetakSetik | Review</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="flex container items-center align-center mx-auto flex-col px-4 py-8">
  <h1 class="text-[48px] font-reguler text-[#F5F5DC] text-center mt-2 mb-3">
      What do <span class="italic">they</span> say?
  </h1>
    <hr class="border-t-2 border-[#F5F5DC] w-full mx-auto" style="width: 460px;" />
    <p class="text-center text-[1.2rem] mt-3">See reviews, ratings and recommendations!</p>
  </div>

  <div class="flex justify-center mt-0 mb-0"> <!--mt-4 itu margin top-->
    <a href="{% url 'review:create_review_entry' %}">
      <button class="btn bg-[#F7B32B] hover:bg-[#F7A52B] text-white font-reguler py-2 px-4 rounded-lg transition duration-300 mb-8">Add Review</button>
    </a>
  </div>
  
  <div id="review_entry_cards"></div>
  
</div>

<script>
  async function getReviewEntries() {
    return fetch("{% url 'review:show_json_by_id' %}").then((res) => res.json())
  }

  async function refreshReviewEntries() {
    document.getElementById("review_entry_cards").innerHTML = "";
    document.getElementById("review_entry_cards").className = "";
    const reviewEntries = await getReviewEntries();
    let htmlString = "";
    let classNameString = "";

    if (reviewEntries.length === 0) {
      classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
      htmlString = `
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <div class="text-center py-16">
              <p class="text-[#F5F5DC] text-lg italic">No reviews yet!</p>
            </div>
        </div>

        `;
    }
    else {
      classNameString = "columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full";
      reviewEntries.forEach((item) => {
        const menu = DOMPurify.sanitize(item.fields.menu);
        const place = DOMPurify.sanitize(item.fields.place);

        
        
        htmlString += `
          <div class="relative bg-[#F5F5DC] shadow-lg rounded-lg overflow-hidden mb-6">
              <!-- Product Details -->
              <div class="p-4">
                  <!-- Product Name -->
                  <h3 class="font-bold text-xl text-[#5B3E39] mb-2">${menu}</h3>

                  <!-- Product Place with Pin Icon -->
                  <div class="flex items-center space-x-2 mb-2">
                      <i class="fas fa-map-marker-alt text-[#5B3E39]"></i>
                      <p class="text-base font-semibold text-[#5B3E39]" style="font-family: 'Raleway', sans-serif; font-size: 16px;">
                          ${item.fields.place}
                      </p>
                  </div>

                  <!-- Product Rating -->
                  <div class="flex items-center space-x-2 mb-2">
                      <i class="fas fa-star text-yellow-400"></i>  <!-- Menampilkan satu ikon bintang -->
                      <p class="text-base font-semibold text-[#5B3E39]" style="font-family: 'Raleway', sans-serif; font-size: 16px;">
                          ${item.fields.rating} / 5
                      </p>
                  </div>
                  
                  <!-- Product Description -->
                  <p class="text-gray-600 mb-4">${item.fields.description}</p>
                  
                  ${item.fields.owner_reply ? `
                  <div class="bg-white p-3 rounded-lg">
                      <p class="text-sm font-semibold text-[#5B3E39]">Balasan pemilik:</p>
                      <p class="text-sm text-gray-600">${DOMPurify.sanitize(item.fields.owner_reply)}</p>
                  </div>
                  ` : ''}                  

              </div>
          </div>`;


      });
    }
    document.getElementById("review_entry_cards").className = classNameString;
    document.getElementById("review_entry_cards").innerHTML = htmlString;
  }
  refreshReviewEntries();

  const modal = document.getElementById('crudModal');
  const modalContent = document.getElementById('crudModalContent');

  function showModal() {
    console.log("HELLO");

    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modal.classList.remove('hidden');
    setTimeout(() => {
      modalContent.classList.remove('opacity-0', 'scale-95');
      modalContent.classList.add('opacity-100', 'scale-100');
    }, 50);
  }

  function hideModal() {
    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modalContent.classList.remove('opacity-100', 'scale-100');
    modalContent.classList.add('opacity-0', 'scale-95');

    setTimeout(() => {
      modal.classList.add('hidden');
    }, 150);
  }

  function addReviewEntry() {
    fetch("{% url 'review:create-review-entry-ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#ReviewEntryForm')),
    })
      .then(response => {
        refreshReviewEntries()
      }).catch(e => {
        console.log(e);
      })

    document.querySelector("[data-modal-toggle='crudModal']").click();

    return false;
  }
</script>

{% endblock content %}