.header{
    padding: 20px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 0px;
}

.header h1,p{
    text-align: center;
}

@media (max-width: 1030px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-container {
        margin-right: 0;
        width: 100%; 
    }

    .wheel {
        margin-bottom: 20px; 
    }
}

.wheel {
    display: flex;
    justify-content: center;
    position: relative;
}
.center-circle{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.triangle{
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 50px solid white; 
    position: absolute;
    top: 50%;
    right: -280%;
    transform: translateY(-50%);
    }

#categoryFilter {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

#categoryFilter option {
    font-family: 'Raleway', sans-serif;
    font-style: none;
    text-transform: none;
}

#categoryFilter:hover {
    background-color: #5B3E39;
}

#categoryFilter option:hover {
    background-color: #5B3E39;
    color: #FFFFFF;
}

.add-button {
    color: #F5F5DC;
    background-color: #5b3e39;
    font-style: normal;
    padding: 5px 20px;
    border-radius: 50pc;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

.add-button:hover {   
    background-color: #8c7269;
}

.remove-button {
    color: #3E2723;
    background-color: #F5F5DC;
    font-style: italic;
    padding: 5px 10px;
    border-radius: 50pc;
    border: none;
    cursor: pointer;
    transition: 300ms;
}