{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
<style>
    input, select {
        color: #3E2723;
    }
    label {
        display: block;
        margin-bottom: 0.5rem;
    }
    input, select {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }
    .submit-button {
        background-color: #A69890; /* Adjust color as needed */
        color: white; /* Text color */
        padding: 0.5rem 1rem; /* Padding */
        border: none; /* No border */
        border-radius: 0.5rem; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s; /* Transition for hover effect */
        width: 100%; /* Full width */
    }
    .submit-button:hover {
        background-color: #D1C0B9; /* Change color on hover */
    }
</style>

<div class="flex items-center container mx-auto" style="height: calc(100vh - 4rem); font-family: 'Raleway', sans-serif;">
    <div class="grid grid-cols-1 lg:grid-cols-2 w-full">

        <div class="hidden lg:flex items-center container mx-auto" style="height: calc(100vh - 4rem); font-family: 'Raleway', sans-serif; align-items: stretch;">
            <div class="flex items-center justify-center p-4 w-full">
                <div class="hidden lg:block h-full">
                    <img src="{% static 'image/steak-image.png' %}" alt="Steak" class="w-full h-full object-cover" />
                </div>
            </div>
        </div>
        
        <div class="flex items-center justify-center p-5 w-full">
            <div class="bg-[#5C4A4A] p-8 rounded-2xl shadow-lg w-full max-w-md">
                <h1 class="text-2xl mb-8" style="font-family: 'Raleway', sans-serif;">
                    Register to <span class="text-4xl italic" style="font-family: 'Playfair Display', serif;">SetakSetik</span>
                </h1>
                <form class="mt-8 space-y-6" method="POST">
                    {% csrf_token %}                      
                    <div class="space-y-4">
                        {% for field in form %}
                        <div>
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div>{{ field }}</div>
                            {% if field.help_text %}
                            <small class="text-sm text-gray-400">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <div class="text-red-500">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    {% if messages %}
                    <ul class="mt-4 space-y-2">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="submit" class="submit-button mt-6" style="font-weight: bold;">Register now!</button>
                    <p class="mt-6 text-[#D1C0B9]">Already have an account? 
                        <a href="{% url 'main:login' %}" class="text-[#A69890] hover:text-[#D1C0B9] transition duration-300" style="font-weight: bold;">Login Here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}